.flashcardContainer {
    perspective: 1000px;
    margin:  20px 0;
}

.flashcard {
    width: 100%;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.isFlipped {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    backface-visibility: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
}

.front {
    background: var(--card);
    color: var(--text);
}

.back {
    transform: rotateY(180deg);
    background: var(--primary);
    color: white;
}